.content {
  background-color: rgb(222 222 222);
  height: 95vh;
  overflow: hidden;
  box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126),
    0 0.9px 1.7px rgb(233 233 233 / 30%), 0 1.8px 3.5px rgb(245 245 245 / 22%),
    0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgb(0 0 0 / 11%);
  transition: 0.5s ease;
  &:hover {
    box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126),
      0 0.9px 1.7px rgba(74, 74, 74, 0.3), 0 1.8px 3.5px rgba(85, 85, 85, 0.22),
      0 3.7px 7.3px rgba(59, 59, 59, 0.277), 0 10px 20px rgb(0 0 0 / 11%);
  }
}

.container-img {
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 5rem;
  img {
    height: auto;
    width: 100%;
  }
}

.m-left {
  margin-left: -24px;
}

.text-container {
  background-color: black;
  color: white;
  padding: 40px;
  text-align: center;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 87.5%;
  overflow: hidden;
  position: relative;
  width: 105%;
  margin-top: 5rem;
}

.text-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10rem;
  line-height: 1.8rem;
}

.btn-discover {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.btn-discover:hover {
  background-color: darkred;
}
