<main class="main">
  <div class="main-content responsive-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-8 col-md-8 m-left-img">
          <div class="container-img">
            <img src="../../../assets/imgs/lambo.jpeg" alt="" />
          </div>
        </div>
        <div class="col-4 col-md-4 m-left">
          <div class="text-container">
            <h2>
              DESCUBRE MÁS INFORMACIÓN DE NUESTROS MODELOS, HAZ CLICK EN EL
              BOTÓN
            </h2>
            <button class="btn-discover" routerLink="/vehicles-list">
              DESCRUBE MÁS
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
